.projectswrapper {
  background-color: yellow;
}

h2 {
  padding-top: 100px;
  padding-bottom: 30px;
}

.homewrapper {
  height: 100vh;
  position: relative;
  background-color: pink;
}

.homecontent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 3rem;
}

.nextpage {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
}

.scroll {
  cursor: pointer;
}
