.Footer {
  margin-top: 50px;
  text-decoration: none;
  letter-spacing: 0.3em;
  font-weight: 200;
}

.footer-content {
  padding: 50px;
  font-size: 22px;
  text-align: left;
}

.line {
  color: #afa15b;
}

.footer-content p {
  font-style: italic;
}

ul {
  padding-left: 100px;
  list-style: none;
  /* line-height: 50px; */
  list-style: none;
  /* margin: 20px; */
  text-align: left;
}

.Footer li {
  text-decoration: none;
  width: 120px;
  text-align: left;
  color: grey;
  padding-bottom: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.Footer a {
  text-decoration: none;
  width: 120px;
  text-align: left;
  color: grey;
}

.copyright {
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
  color: grey;
  letter-spacing: 0.1em;
}
