.Navbar {
  display: flex;
  justify-content: left;
  font-size: 20px;
  height: 50px;
  width: 100%;
  background-color: yellow;
}

ul {
  display: flex;
  justify-content: left;
  list-style: none;
}

li {
  width: 70px;
  text-decoration: none;
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
}
